.es-heading {
  font-family: $font-family-heading;
}

h1.es-heading {
  font-weight: normal;
  @media screen and (min-width: 768px) {
    font-size: 2.6em;
    line-height: 1;
  }
}

h2.es-heading {
  font-family: $font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  flex: 1;
  min-width: 100%;
  padding: 0.5em 0;
}
