@import 'globals/normalize';
@import 'globals/variables';
@import 'globals/helpers';
@import 'globals/typography';

@import 'ember-bootstrap/functions';
@import 'ember-bootstrap/variables';
@import 'ember-bootstrap/mixins';
@import 'ember-bootstrap/grid';
@import 'ember-bootstrap/dropdown';
@import 'ember-bootstrap/navbar';
@import 'ember-bootstrap/transitions';

@import 'components/es-aside';
@import 'components/es-button';
@import 'components/es-buttonbar';
@import 'components/es-card';
@import 'components/es-codesample';
@import 'components/es-footer';
@import 'components/es-header';
@import 'components/es-heading';
@import 'components/es-main';
@import 'components/es-navbar';
@import 'components/es-ulist';
@import 'components/es-note';
@import 'components/es-accordion';
@import 'components/es-blog-heading';

* {
  padding: 0;
  margin: 0;
}

*,*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.2;
  color: $black;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 0.5em;
  }
}
