$black: #212121; //never pure black
$gray: #4d4d4d;
$gray-lighter: #999999;
$gray-lightest: #eeeeee;
$gray-darker: darken($gray, 10%);
$gray-darkest: darken($gray, 15%);
$white: #fdfdfd; //never pure white

$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-size: 18px;
$line-height: 1.2;

$success: green; //come back to these state colors and put proper colors in here
$info: cornflowerblue;
$warning: goldenrod;
$danger: red;

