<div class="footer-info container">
  <img src="/images/ember-logo.svg" alt="Ember Logo" class="footer-logo margin-right-medium">

  <div class="footer-info-links">
    {{#each args.infoLinks as |link|}}
      <a href={{link.href}} class="small margin-bottom-xsmall margin-left-xsmall">{{link.name}}</a>
    {{/each}}
  </div>
</div>
