<div class="footer-info container">
  <img src="/images/ember-logo.svg" alt="Ember Logo" class="footer-logo mr-1">

  <div class="footer-info-links">
    {{#each args.infoLinks as |link|}}
      <a href={{link.href}} class="small mb-1 ml-1">{{link.name}}</a>
    {{/each}}
  </div>
</div>
