<div class="footer-statement">
  <p class="footer-copyright container py-3">
    &copy; Copyright {{currentYear}} - <a href="https://www.tilde.io/" class="footer-copyright">Tilde Inc.</a>
    <br>
    {{args.tagline}}
  </p>
</div>