.es-button,
a.es-button,
a.es-button:link,
a.es-button:visited {
  background-color: var(--color-brand);
  color: var(--color-white);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  border: 0;
  border-radius: var(--radius-lg);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.es-button:active {
  background: var(--color-brand-hc-dark);
}

a.es-button {
  display: inline-block;
  text-decoration: none;
}
