.es-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-hc-dark);
  padding: 8px 8px 10px;
  color: var(--color-white);
}

.es-banner a, .es-banner a:link, .es-banner a:visited {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 1px solid var(--color-white-40);
  background: none;
  font-size: 16px;
  line-height: 15px;
}

.es-banner a:hover, .es-banner a:focus {
  border-bottom: 1px solid var(--color-white);
}

.es-banner a + a {
  margin-left: 20px;
  position: relative;
}

.es-banner a + a::before {
  content: '';
  width: 3px;
  height: 3px;
  background: var(--color-white);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  left: -10px;
  pointer-events: none;
  position: absolute;
}
