.es-button,
a.es-button,
a.es-button:link,
a.es-button:visited,
.es-button-secondary,
a.es-button-secondary,
a.es-button-secondary:link,
a.es-button-secondary:visited {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  border: 0;
  border-radius: var(--radius);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  transition: background-color 0.2s, color 0.1s;
  box-shadow: 0 0 2px -1px var(--color-gray-800), 0 2px 9px -5px var(--color-gray-800);
}

.es-button:focus,
a.es-button:focus,
.es-button-secondary:focus,
a.es-button-secondary:focus {
  box-shadow: var(--focus), 0 0 2px -1px var(--color-gray-800), 0 2px 8px -4px var(--color-gray-800);
}

.es-button:hover,
.es-button:active,
a.es-button:hover,
a.es-button:active {
  background: var(--color-button-bg-hover);
}

a.es-button,
a.es-button-secondary {
  display: inline-block;
  text-decoration: none;
}

.es-button-secondary,
a.es-button-secondary,
a.es-button-secondary:link,
a.es-button-secondary:visited {
  background: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.es-button-secondary:hover,
.es-button-secondary:active,
a.es-button-secondary:hover,
a.es-button-secondary:active {
  background: var(--color-button-secondary-bg-hover);
  color: var(--color-button-secondary-text-hover);
}
