.card {
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
}

.card__image {
  display: block;
  max-width: 64px;
  max-height: 64px;

  margin: var(--spacing-2);
  float: left;
}

.card[vertical] .card__image {
  margin: var(--spacing-2) auto;
  float: none;
}

.card[full-image] .card__image {
  max-width: 100%;
  max-height: inherit;
  margin: 0;
}

.card-content {
  margin: var(--spacing-2);
}
