/* $menu-height: 55px;
$menu-orange: #9b2918;
$dropdown-border-radius: 6px; */

nav.es-navbar {
  width: 100%;
  height: 2.5em;
  max-width: var(--container-width-large);
  background-color: $orange;

  & .navbar-brand {
    margin-right: 2em;
  }
}

nav.es-navbar .spacer {
  flex: 10;
}

nav.es-navbar hr {
  margin: 0;
}

ul li[aria-expanded=true] {
  background-color: white;

  a[role=menuitem] {
    color: $menu-orange;
  }
}

li[aria-expanded=true] ul[role="menu"].dropdown {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: white;
  border: solid 1px rgba(0,0,0, .1);
  border-top: 0;

  margin-left: -1px;
}

ul[role="menubar"] {
  /* display: flex; */
  flex-direction: column;
  align-items: start;
  font-size: 1.3em;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul[role="menubar"][aria-expanded="false"] {
  max-height: 0;
}

ul[role="menubar"] [role="menuitem"] {
  height: 100%;
  padding: 0 .5em;
  line-height: $menu-height;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover {
  background-color: white;
  color: $menu-orange;
}

ul[role="menubar"] a[role="menuitem"] {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}

ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:focus,
ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:hover  {
  outline: 0;
}

ul.dropdown a[role="menuitem"] {
  color: $menu-orange;
  padding: 0 1em;
  font-size: 0.8em;
  line-height: 2.5em;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover {
  background-color: white;
  color: $menu-orange;
}

ul[role="menubar"] li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] > li {
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* display: flex; */
  position: relative;
}

ul[role="menubar"] > li.dropdown > a:after {
  content: '';
  /* display: inline-block; */
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

ul[role="menubar"][aria-expanded="true"] ul[role="menu"]{
  top: 0 !important;
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}


ul[role="menubar"] ul[role="menu"] li a {
  /* display: block; */
  width: 15em;
}

ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]:after {
  content: url('../images/right-arrow-brown.png');
  padding-right: 2em;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #fdfdfd;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: center center no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 991px) {
  ul[role="menubar"][aria-expanded="false"] > li {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  nav.es-navbar div.container {
    display: flex;
    max-width: 1140px;
    min-width: 850px;
  }

  ul[role="menubar"] {
    flex-direction: row;
    align-items: center;
    min-height: $menu-height;
  }

  ul[role="menubar"] > li {
    width: inherit;
    flex-direction: row;
    align-items: center;
  }

  li[aria-expanded=true] ul.dropdown {
    position: absolute;
  }

  li[aria-expanded=true] ul.dropdown,
  li[aria-expanded=true] ul.dropdown li:last-child a {
    border-bottom-right-radius: $dropdown-border-radius;
    border-bottom-left-radius: $dropdown-border-radius;
  }

  ul[role="menubar"] ul[role="menu"] {
    position: absolute;
    top: inherit;
    width: inherit;
  }
  .navbar-toggler {
    display: none
  }
  ul[role="menubar"][aria-expanded="false"] {
    max-height: inherit;
  }

  ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:focus,
  ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:hover  {
    background-color: $orange;
    color: white;
    outline: inherit;
  }
}

ul, li {
    display:inline
}
