.es-navbar {
  background-color: #1C1E23;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: var(--text-preset-2);
  max-width: var(--container-width-large);
  padding: 0.5rem;
  width: 100%;
}

.navbar-brand {
  display: block;
  padding: 0 1rem;
  height: 3rem;
  /* TODO using order is not ideal for accessibility */
  order: 2;
}

.navbar-list {
  padding: 0;
  width: 100%;
  margin: 0.5rem 0 0 0;
  /* TODO using order is not ideal for accessibility */
  order: 3;
}

.navbar-toggler {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: var(--color-light);
  margin-left: auto;
  /* TODO using order is not ideal for accessibility */
  order: 1;
  margin-bottom: -3rem;
  height: 3rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-toggler-icon {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  content: "";
  background: center center no-repeat;
  background-size: 100% 100%;
}

.navbar-list-item {
  list-style: none;
  position: relative;
}

.navbar-list-item-link {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

.navbar-list-item-dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
  color: #FFF;
  display: block;
  font-weight: 600;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-list-item-dropdown-toggle::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 0.5rem;
  border-top: 5px dashed;
  border-top: 5px solid var(--color-ember-orange);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.navbar-list-item-dropdown-toggle[aria-expanded="true"] {
  background: #FFFFFF;
  color: var(--color-ember-orange);
}

.navbar-dropdown-list {
  display: none;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.2);
}

li.separator {
  margin: 0;
  /* TODO fix this */
  border-bottom: 1px solid black;
}

.navbar-dropdown-list-item {
  list-style: none;
  display: block;
  white-space: nowrap;
  background: #FFF;
}

.navbar-dropdown-list-item-link {
  padding: 1rem;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: var(--color-ember-orange);
}

.navbar-dropdown-list-item-link:hover,
.navbar-dropdown-list-item-link:focus {
  background: var(--color-ember-orange);
  color: var(--color-light);
}


/* TODO This rule doesn't make sense so I'm commenting it out for now
ul[role="menubar"][aria-expanded="true"] li {
  background: blue;
} */

@media (min-width: 992px) {
  nav.es-navbar {
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    padding: 0;
    /* TODO using order is not ideal for accessibility */
    order: 1;
  }

  .navbar-list {
    /* TODO using order is not ideal for accessibility */
    order: 2;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navbar-toggler {
    /* TODO using order is not ideal for accessibility */
    order: 3;
  }

  .navbar-dropdown-list {
    display: none;
    position: absolute;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.2);
  }
}
