.es-page-header {
  padding-top: 1.5rem;
  padding-bottom: 4.5rem;
  background-image: url('/images/pattern-1.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.es-page-header__title {
  margin-top: 0;
  margin-bottom: 0;
}

.es_page-header__details {
  margin-top: 2em;
  margin-bottom: 2em;
}
