.pagination-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-template-areas:
    "previous next";
}

.previous-wrapper{
  grid-area: previous;
}

.next-wrapper {
  grid-area: next;
  text-align: right;
}

.pagination-link {
  &::before,
  &::after {
    display: inline-block;
    font-weight: 700;
    margin: 0 0.5em;
    transition: transform 0.3s;
  }
  &:hover, &:focus, &:active {
    .pagination-text {
      color: var(--color-link-hover);
    }
  }
}

.pagination-text {
  color: var(--color-link);
  background: no-repeat left bottom
  linear-gradient(var(--color-brand-40), var(--color-brand-40));
  background-size: 100% 0.1875rem;
}

.previous {
  &::before {
    content: "\2039";
  }

  &:hover::before {
    transform: translateX(-0.5em);
  }
}

.next {
  &::after {
    content: "\203A";
  }

  &:hover::after {
    transform: translateX(0.5em);
  }
}
