.tabs {
  display: flex;
  margin-bottom: 1em;
}

.tabs-item {
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px solid var(--color-gray);
}

.tabs-link {
  text-decoration: none;
  font-size: var(--text-preset-1);
  font-weight: 600;
  color: var(--color-muted);
  display: block;
  padding: 1em;
}

.tabs-item--active {
  border-bottom: 2px solid var(--color-orange);
}

.tabs-item--active .tabs-link {
  color: var(--color-orange);
}