.self-executing-code-block {
  margin-bottom: 2rem;
}

@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

.border-dashed {
  border: 1px dashed var(--color-gray-500);
}

.spacer-xsmall {
  height: var(--spacing-1);
}

.spacer-small {
  height: var(--spacing-2);
}

.spacer-medium {
  height: var(--spacing-3);
}

.spacer-large {
  height: var(--spacing-4);
}

.spacer-xlarge {
  height: var(--spacing-5);
}
