.es-card {
  border: 1px solid transparent;
  padding: 20px;

  .es-card__image {
    display: flex;
    justify-content: center;
  }

  &--image-left {
    @extend %clearfix;
    
    .es-card__image {
      display: block;
      float: left;
      width: 20%;
    }

    .es-card__body {
      float: right;
      width: 75%;
    }
  }

  &--image-right {
    @extend %clearfix;

    .es-card__image {
      display: block;
      float: right;
      width: 20%;
    }

    .es-card__body {
      float: left;
      width: 75%;
    }
  }
}