.es-navbar {
    display: flex;
    justify-content: center;
    flex: 1;
    ul {
        margin: 0;
        padding: 0 15%;
        display: flex;
        flex: 1;
        li {
            padding: 0;
            margin: 0;
            flex: 1 1 auto;
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            font-size: 19px;
            line-height: 1.2;
            a {
                justify-content: center;
                align-self: stretch;
                color: white;
                text-decoration: none;
                padding: 11px;
            }
            form {
                justify-content: center;
                display: flex;
                align-self: stretch;
                padding: 11px;
            }
        }
    }
}