.es-aside {
  grid-area: sidebar;
}

// move to a base class?
.toc-container ol,
.toc-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// copied from ember-guides:
// small modification and color changes
.toc-container {
  //border-top: 1px solid #F8E7CF;
  overflow: hidden;
  display: none;
}

.toc-toggle:checked ~ .toc-container {
  display: block;
}
@media screen and (min-width: 53.75em) {
  .toc-container {
    display: block;
  }

  .toc-container[style] {
    display: block !important;
  }
}

.toc-container a {
  text-decoration: none;
}

.toc-level-0 {
  margin-bottom: 0.5em;
}

.aside-title {
  color: $orange-darker;
  display: block;
  line-height: 1.25;
  padding: 0.33em 0;
}
.aside-title:hover {
  color: $orange-darkest;
}

.toc-level-0 > div > a {
  font-weight: bold;
  margin: 0.33em 0;
}

ol.toc-level-1 {
  display: block;
  border-left: 1px solid $blue;
  font-size: 0.9rem;
}

ol.toc-level-1 li {
  border-left: 3px solid transparent;
  transition: border-width 200ms, margin-right 200ms;
}

ol.toc-level-1 li.selected,
ol.toc-level-1 li:hover {
  border-left-color: $blue;
}

ol.toc-level-1 li:hover {
  border-left-width: 6px;
  margin-right: -3px;
}

ol.toc-level-1 a {
  color: $gray;
  padding: 0.33em 0 0.33em 1.618em;
  display: block;
  line-height: 1.25;
}

ol.toc-level-1 .selected a {
  font-weight: 500;
}
