.es-blog-heading {
  .post-title {
		a {
			color: $orange-darker;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
  }
	.page-view {
		color: $secondary;
		font-size: 2.25em;
		margin-bottom: 0.01em;
		margin-top: 0.7em;
	}

	.list-view {
		color: $orange-darkest;
		font-size: 1.75em;
		font-weight: bold;
		letter-spacing: none;
		line-height: 1;
		margin-bottom: 0.19em;
		margin-top: 0.2em;
	}

  .post-date {
    color: $gray;
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.2em 0.25em 0 0;
    @media screen and (min-width: 768px) {
      display: inline-block;
      padding: 0 0.25em 0 0;
    }
  }

  .post-author {
    color: $gray;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    &.guest {
      color: $blue;
    }
  }
}
