.es-button {
	background-color: $orange-darker;
	border-radius: 3px;
	border: 3px solid transparent;
	color: $white;
	font-family: "Roboto";
	font-size: 1.2em;
	font-weight: 400;
	height: 54px;
	letter-spacing: 1px;
	margin: 9px 0.2em;
	min-width: 96px;
	padding: 0 24px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	&:hover,
		:focus {
			background-color: $orange-darkest;
			color: $white;
			cursor: pointer;
	}

  &.button-block {
		margin: 9px auto;
		max-width: 100%;
		width: 100%;
    box-sizing: border-box;
  }
  &.button-dense {
		font-size: 17px;
		height: 48px;
	}
  &.button-light {
		background-color: $white;
		border: 3px solid $orange;
		color: $orange-darker;
		&:hover {
			border-color: $orange-darkest;
			color: $orange-darkest;
		}
	}
	&.disabled {
		background-color: $gray-lightest;
		border-color: $gray-lighter !important;
		color: $gray-lighter !important;
		&:hover,
		:focus {
			background-color: $gray-lightest;
			border-color: $gray-lighter;
			color: $gray-lighter;
			cursor: not-allowed;
		}
	}
	&.button-link {
		background-color: transparent;
		border-color: transparent;
		color: $orange-darker;
		margin: 9px 12px;
		padding: 0 12px;
	}
  &.button-icon {
		background-color: transparent;
		border-color: transparent;
		color: $gray;
		height: 36px;
		width: 36px;
		&:hover {
			cursor: pointer;
		}
	}
  &.button-tiny {
  	display: inline-block;
  	font-size: 14px;
  	height: 30px;
  	line-height: 26px;
  	vertical-align: middle;
  }
  @media screen and (max-width: 768px) {
		margin: 9px auto;
		max-width: 100%;
		width: 100%;
    box-sizing: border-box;
  }
}
