nav.es-navbar {
  width: 100%;
  background-color: $orange;
}

nav.es-navbar .spacer {
  flex: 10;
}

nav.es-navbar hr {
  border-top: 1px solid $orange;
  margin: 0.1em 0;
}

ul li[aria-expanded=true] {
  background-color: white;

  a[role=menuitem] {
    color: $orange;
  }
}

li[aria-expanded=true] ul.dropdown {
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-color: white;
}

nav.es-navbar div.container {
  display: flex;
  max-width: 1200px;
  min-width: 850px;
}

nav.es-navbar form {
  display: flex;
  align-items: center;
}

ul[role="menubar"] {
  display: flex;
  align-items: center;
  min-height: 55px;
  font-size: 1.3em;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul[role="menubar"] [role="menuitem"] {
  height: 100%;
  padding: 0 .5em;
  line-height: 50px;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover {
  background-color: white;
  color: $orange;
}

ul[role="menubar"] a[role="menuitem"] {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}

ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:focus,
ul li[aria-expanded=true] ul.dropdown a[role="menuitem"]:hover  {
  background-color: $orange;
  color: white;
}

ul.dropdown a[role="menuitem"] {
  color: $orange;
  padding: 0 1em;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover {
  background-color: white;
  color: $orange;
}

ul[role="menubar"] li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] > li {
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

ul[role="menubar"] > li.dropdown > a:after {
  content: '\25bc';
  font-size: small;
  padding-left: .25em;
}


ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  top: -2px;
  left: 0;
  margin: 0;
  padding: 0;
}


ul[role="menubar"] ul[role="menu"] li a {
  display: block;
  width: 15em;
}

ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]:after {
  content: url('../images/right-arrow-brown.png');
  padding-right: 2em;
}
