.es-card {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
  &.border {
    li {
      border: 4px solid $primary;
    }
  }
  li {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.125em 0.8em 1em 0.8em;
    width: 250px;
    @media screen and (min-width: 768px) {
      max-width: 250px;
      margin: 10px;
    }
  }
	img {
		display: block;
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		max-height: 150px;
	}
	h3 {
		display: block;
		width: 100%;
		text-align: center;
		color: $black;
		font-size: 1.4em;
		line-height: 1;
		margin-bottom: 0;
	}
	p {
		display: block;
		font-size: 1em;
		line-height: 1.2;
		text-align: center;
		margin: 0 auto;
		max-width: 100%;
		padding: 1em 0 0 0;
	}
	.es-button {
		margin: 0 auto;
	}
}
