.es-button {
    background-color: $white;
    border: 3px solid $primary;
    letter-spacing: 1px;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    width: 300px;
    &.button-block {
        width: 100%;
    }
    &:hover {
        cursor: pointer;
        color: darken($primary, 15%);
        border-color: darken($primary, 15%);
        transition: all 0.5s ease-in-out;
    }
}