@import 'globals/normalize';
@import 'globals/variables';
@import 'globals/helpers';
@import 'globals/typography';

@import 'ember-bootstrap/functions';
@import 'ember-bootstrap/variables';
@import 'ember-bootstrap/mixins';
@import 'ember-bootstrap/grid';
@import 'ember-bootstrap/dropdown';
@import 'ember-bootstrap/navbar';
@import 'ember-bootstrap/transitions';

@import 'es-aside';
@import 'es-button';
@import 'es-buttonbar';
@import 'es-card';
@import 'es-codesample';
@import 'es-footer';
@import 'es-header';
@import 'es-heading';
@import 'es-main';
@import 'es-navbar';
@import 'es-ulist';
@import 'es-note';
@import 'es-accordion';
@import 'es-blog-heading';

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: $black;
  padding: 0;
  margin: 0;
  //.pagewrapper-aside {
  //  display: grid;
  //  grid-gap: 20px;
  //  grid-template-areas: "header" "content" "sidebar" "footer";
  //  @media (min-width: 600px) {
  //    grid-template-columns: 1fr 3fr;
  //    grid-template-areas: "header header" "sidebar content" "footer footer";
  //  }
  //}
  //.pagewrapper {
  //  display: grid;
  //  grid-gap: 20px;
  //  grid-template-areas: "header" "content" "footer";
  //  @media (min-width: 600px) {
  //    grid-template-columns: 1fr;
  //    grid-template-areas: "header" "content" "footer";
  //  }
  //}
}

section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 0.5em;
  }
}
