@import 'globals/normalize';
@import 'globals/variables';
@import 'globals/helpers';
@import 'globals/typography';

@import 'ember-bootstrap/functions';
@import 'ember-bootstrap/variables';
@import 'ember-bootstrap/mixins';
@import 'ember-bootstrap/grid';
@import 'ember-bootstrap/dropdown';
@import 'ember-bootstrap/navbar';
@import 'ember-bootstrap/transitions';

@import 'es-accordion';
@import 'es-aside';
@import 'es-blog-heading';
@import 'es-button';
@import 'es-buttonbar';
@import 'es-card';
@import 'es-codesample';
@import 'es-footer';
@import 'es-header';
@import 'es-heading';
@import 'es-main';
@import 'es-navbar';
@import 'es-note';
@import 'es-section';
@import 'es-ulist';

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: $black;
  padding: 0;
  margin: 0;
}

section {
  min-width: 100%;
  @media screen and (min-width: 768px) {
    margin-bottom: 0.5em;
  }
}
