//@import url('https://rsms.me/interface/interface.css');
// @import 'interface';
@import 'variables';
@import 'normalize';
@import 'es-aside';
@import 'es-button';
@import 'es-buttonbar';
@import 'es-card';
@import 'es-codesample';
@import 'es-footer';
@import 'es-header';
@import 'es-heading';
@import 'es-main';
@import 'es-navbar';
@import 'es-ulist';
body {
    font-family: $font-family;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    padding: 0;
    margin: 0;
    .pagewrapper-aside {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: "header" "content" "sidebar" "footer";
        @media (min-width: 600px) {
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "header header" "sidebar content" "footer footer";
        }
    }
    .pagewrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: "header" "content" "footer";
        @media (min-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-areas: "header" "content" "footer";
        }
    }
}

section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    min-width: 100%;
    padding: 1em 0;
    @media screen and (min-width: 768px) {
        margin-bottom: 0.5em;
    }
    h2 {
        @media screen and (min-width: 768px) {
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

// helper classes
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable {
    &:active,
     :focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.text-center {
    text-align: center;
}