.bg-orange {
  background-color: var(--color-orange);
}

.bg-muted {
  background-color: var(--color-muted);
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);

  & a {
    color: var(--color-light);
  }
}

.bg-muted {
  background-color: var(--color-muted);
}

.bg-info {
  background: var(--color-info);
}