.bg-brand {
  background-color: var(--color-brand);
  color: var(--color-brand-text);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & .medium,
  & .large,
  & .xlarge {
    color: var(--color-white);
  }
}

.bg-light {
  background-color: var(--color-gray-100);
}

.bg-light-muted {
  background-color: var(--color-gray-200);
}

.bg-dark {
  background-color: var(--color-gray-900);
  color: var(--color-gray-300);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & .medium,
  & .large,
  & .xlarge,
  & a {
    color: var(--color-white);
  }
}

.bg-info {
  background: var(--color-info);
}

.text-light {
  color: var(--color-brand-text);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & .medium,
  & .large,
  & .xlarge {
    color: var(--color-white);
  }
}
