:root {
  --container-width-large: 64em;
  --color-dark: #1C1E23;
  --color-light: #FFE6E6;
}

body {
  font-size: 16pt;
}

.container {
  max-width: var(--container-width-large);
  margin-left: auto;
  margin-right: auto;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1 {
  margin-left: inherit;
  margin-right: inherit;
}
