:root {
  font-size: 8px;
  --container-width-large: 128rem;
  --color-dark: #1C1E23;
  --color-light: #FFFFFF;
  --color-muted: #F4F6F8;
  --color-orange: #E04E39;
  --color-gray: #A2A3A8;
  --color-success: #D9F9E3;
  --color-danger: #FFD8E1;
  --color-warning: #FCFFC9;
  --color-info: #E3EEFC;
  --text-preset-1: 1.5rem;
  --text-preset-2: 2.5rem;
  --text-preset-3: 4rem;
  --text-preset-4: 6rem;
  --text-preset-5: 8rem;
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 600; 
  --spacing-1: 2rem;
  --spacing-2: 4rem;
  --spacing-3: 8rem;
  --spacing-4: 16rem;
  --spacing-5: 24rem;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
}


p {
  font-size: var(--text-preset-2);
  line-height: 1.6;
  margin: 0 0 1rem 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 2rem 0;
}

@media (max-width: 1280px) and (min-width: 421px) {
  body,
  html {
    
  }
}

@media (max-width: 520px) {
  body,
  html {
    
  }
}

a {
  color: var(--color-orange);
  text-decoration: none;
}

a:active, .active {
  color: var(--color-dark);
}

/* move beyond this point */

.container {
  max-width: var(--container-width-large);
  margin-left: auto;
  margin-right: auto;
}

.content-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  border: 1px solid #CCC;
}