:root {
  --font-family-sans: 'Inter var', 'Inter web', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --color-white: #fff;
  --color-gray-100: #f4f6f8;
  --color-gray-200: #ebeef2;
  --color-gray-300: #dce0e6;
  --color-gray-400: #bec4cc;
  --color-gray-500: #8f949f;
  --color-gray-600: #6a707a;
  --color-gray-700: #42474f;
  --color-gray-800: #2b2d34;
  --color-gray-900: #1c1e24;
  --color-black: #000;

  --color-brand: #e04e39;
  --color-brand-text: #ffd7d2;
  --color-brand-hc-light: #ff5c44;
  --color-brand-hc-dark: #cf2d20;

  --color-gray: #a2a3a8;
  --color-success: #d9f9e3;
  --color-danger: #ffd8e1;
  --color-warning: #fcffc9;
  --color-info: #e3eefc;

  --font-size-xs: 1.375rem; /* 11px */
  --font-size-base: 1.625rem; /* p = 13px */
  --font-size-md: 1.875rem; /* h3 = 15px */
  --font-size-lg: 2.25rem; /* h2 = 18px */
  --font-size-xl: 3.125rem; /* h1 = 25px */
  --font-size-display-1: 4rem; /* display 1 = 32px */
  --font-size-display-2: 1.875rem; /* display 2 = 15px */

  --line-height-xs: calc(16 / 11);
  --line-height-base: calc(24 / 13);
  --line-height-md: 1.6;
  --line-height-lg: calc(32 / 18);
  --line-height-xl: 1.28;
  --line-height-display-1: 1.25;
  --line-height-display-2: 1.6;

  --font-weight-1: 200;
  --font-weight-2: 400;
  --font-weight-3: 600;

  --container-width: 119rem;
  --grid-gap: 3rem;
  --grid-margin: 1.5rem;

  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 5rem;
  --spacing-5: 8rem;
}

/* 984px = 2rem + 119rem + 2rem */
@media (min-width: 984px) {
  :root {
    --grid-gap: 4rem;

    --font-size-xs: 1.5rem; /* 12px */
    --font-size-base: 1.875rem; /* 15px */
    --font-size-md: 2rem; /* 16px */
    --font-size-lg: 2.5rem; /* 20px */
    --font-size-xl: 4.5rem; /* 36px */
    --font-size-display-1: 7.75rem; /* 62px */
    --font-size-display-2: 2.375rem; /* 19px */

    --line-height-xs: calc(16 / 12);
    --line-height-base: 1.6;
    --line-height-md: 1.5;
    --line-height-lg: 1.2;
    --line-height-xl: calc(48 / 36);
    --line-height-displaay-1: calc(64 / 62);
    --line-height-displaay-2: calc(32 / 19);

    --spacing-1: 2rem;
    --spacing-2: 3rem;
    --spacing-3: 6rem;
    --spacing-4: 9rem;
    --spacing-5: 24rem;
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 0px 3px rgba(25, 116, 220, 0.8);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  background: var(--color-white);
  color: var(--color-gray-700);
  border: 0;
}

html {
  font-size: 50%; /* 8px if using default Browser settings of 16px, while staying scalable */
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

a {
  color: var(--color-brand);
  text-decoration: none;
}

a:active,
.active {
  color: var(--color-gray-900);
}

p {
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 2rem 0;
  color: var(--color-gray-900);
}

strong {
  font-weight: var(--font-weight-3);
}

/*
@media (max-width: 1280px) and (min-width: 421px) {
  body,
  html {
  }
}

@media (max-width: 520px) {
  body,
  html {
  }
}
*/

/* move beyond this point */

.content-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  border: 1px solid #ccc;
}
