.img-fluid {
  width: 100%;
}

.margin-bottom-small, .margin-bottom-narrow {
  margin-bottom: 2rem;
}

.margin-bottom-wide {
  @media screen and (min-width:992px) {
    margin-bottom: 5vh;
  }
}
.margin-top-wide {
  @media screen and (min-width:992px) {
    margin-top: 5vh;
  }
}
.margin-top-bottom-wide {
  @media screen and (min-width:992px) {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}


.margin-left-small, .margin-left-narrow {
  margin-left: 2rem;
}


/* if we name the modifiers the same as a word or google doc would use for page layout, it's more intuitive */
/* TODO we can adjust these, I'm more putting these here because I need them in general */
.padding-sides-normal {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.padding-sides-narrow {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.padding-sides-wide {
  /* TODO ADD MEDIA QUERIES */
  padding-left: 15%;
  padding-right: 15%;
}

.padding-right-half {
  @media screen and (min-width: 992px) {
    padding-right: 50%;
  }
}