.container {
  padding: var(--spacing-3) 0;
  margin: 0 auto;
  width: var(--max-width);
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.row >.col {
  margin: 0 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.col-one-half {
  width: 50%;
  margin: 0 2rem;
}
.half {
  width: 50%;
}
.center-block {
  margin: 0 auto;
}
.col-one-third {
  width: 30.3%;
  margin: 0 2rem;
}
.one-third {
  width: 33.3333%;
}
.two-thirds {
  width: 66.6666%;
}
.three-fourths {
  width: 75%;
}
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .col-50 {
    width: 100%;
  }
}

section {
  display: flex;
  flex-flow: row wrap;
  @media screen and (min-width: 992px) {
    padding-top: 4em;
  }
  & .full {
      min-width: 100%;
  }
}
