.container {
  padding: var(--spacing-3) 0;
  margin: 0 auto;
  width: var(--max-width);
}

.row {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.row >.col {
  margin: 0 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.col-one-half {
  width: 50%;
  margin: 0 2rem;
}
.half {
  width: 50%;
}
.center-block {
  margin: 0 auto;
}
.col-one-third {
  width: 30.3%;
  margin: 0 2rem;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .col-50 {
    width: 100%;
  }
}

section {
  display: flex;
  flex-flow: row wrap;
  & .full {
      min-width: 100%;
  }
}
