.container {
  padding: var(--spacing-4) 0;
  margin: 0 auto;
  width: var(--max-width);
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.row >.col {
  margin: 0 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.col-one-half {
  width: 50%;
  margin: 0 1rem;
}

.col-one-third {
  width: 30.3%;
  margin: 0 1rem;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .col-50 {
    width: 100%;
  }
}




