.sidebar-toggle,
.sidebar-close {
  display: none;
}

:root {
  --sidebar-padding: 1rem;
  --sidebar-shadow: 0 0 1px 0 rgba(73, 79, 95, 0.6), 0 2px 10px -5px rgba(73, 79, 95, 0.55), 0 3px 30px -15px rgba(73, 79, 95, 0.8), 0 0 50px -5px rgba(73, 79, 95, 0.5);
  --sidebar-transition-duration: .3s;
}

.sidebar-container {
  max-width: var(--container-width);
  margin: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 234px;
  grid-gap: 32px;
  padding: var(--spacing-6) var(--grid-margin);
}

.bg-main {
  background-color: var(--color-gray-100);
}

.sidebar-container img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .sidebar-container {
    display: block;
    padding: var(--spacing-4) var(--grid-margin);
  }

  .sidebar-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 0;

    border-radius: 30px;
    box-shadow: var(--sidebar-shadow);
  }

  @keyframes sidebar-in {
    0% {
      display: block;
      opacity: 0;
      transform: scale(0.01);
    }
    100% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  .sidebar {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: var(--sidebar-padding);
    left: var(--sidebar-padding);
    height: calc(100% - var(--sidebar-padding) * 2);
    width: calc(100vw - var(--sidebar-padding) * 2);
    overflow-y: auto;

    padding: 1rem;
    background: #FFF;
    border-radius: var(--radius);
    box-shadow: none;

    transform-origin: bottom right;
    transition: box-shadow var(--sidebar-transition-duration);
  }

  .sidebar[aria-expanded=true] {
    display: block;
    animation: var(--sidebar-transition-duration) sidebar-in ease-out forwards;
    box-shadow: var(--sidebar-shadow);
  }

  .sidebar-content {
    margin-top: var(--spacing-5);
  }

  .sidebar-close {
    display: inline-flex;
    float: right;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--spacing-1);
    background: #FFF;
  }

  .sidebar-close svg path {
    fill: currentColor;
  }
}
