@font-face {
  font-family: "Inter web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.11") format("woff2"), url("/fonts/Inter-Regular.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter web";
  font-style: normal;
  font-weight: 700; /* semibold should be 600, but since we don't use bold, it's easier to map differently than changing all usages of the bold cut to semibold */
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter web";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-Light-BETA.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2?v=3.11") format("woff2");
}

.sans {
  font-family: var(--font-family-sans);
}

.bold {
  font-weight: var(--font-weight-3);
}

.italic {
  font-style: italic;
}

.xsmall, small {
  font-size: var(--text-preset-1);
}

.small, p {
  font-size: var(--text-preset-2);
}

.medium, h3 {
  font-size: var(--text-preset-3);
}

.large, h2 {
  font-size: var(--text-preset-4);
}

.xlarge, h1 {
  font-size: var(--text-preset-5);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-1);
}

p {
  margin-bottom: var(--spacing-2);
}

.light {
  font-weight: var(--font-weight-1);
}

.regular {
  font-weight: var(--font-weight-2);
}

.bold,
strong {
  font-weight: var(--font-weight-3);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-light {
  color: var(--color-light);
}
