h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  margin-left: 12px;
  vertical-align: middle;
}

main h1 > a:link,
main h2 > a:link,
main h3 > a:link,
main h4 > a:link,
main h5 > a:link,
main h6 > a:link {
  background: none;
}

h1 > a > svg,
h2 > a > svg,
h3 > a > svg,
h4 > a > svg,
h5 > a > svg,
h6 > a > svg {
  height: 18px;
  fill: var(--color-gray-600);
  transform: rotate(45deg);
}

h1 > a:hover > svg,
h2 > a:hover > svg,
h3 > a:hover > svg,
h4 > a:hover > svg,
h5 > a:hover > svg,
h6 > a:hover > svg {
  fill: var(--color-brand);
}
