@import "color-pallet";

body > div.ember-view {
  display: grid;
  grid-template-areas:
    "nav nav"
    "toc content"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}

header {
  grid-area: nav;
}

aside {
  grid-area: toc;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

/* Temporary code fix */
pre {
  width: 60vw;
  overflow: scroll;
  border-style: solid;
  border-width: 1px;
}

/* Temporary styleguide menu */
.styleguide-menu {
  list-style: none;
  padding-left: 1rem;
  font-size: 14px;

  & ul {
    list-style: none;
    padding-left: 1rem
  }

  & li {
    display: list-item;
    padding-top: .6rem;
    text-transform: uppercase
  }

  & ul {
    display: block;
  }

  & a {
      color: #212121;
      text-decoration: none
  }

  & a.active {
    color: #00bcd4;
    text-decoration: none
  }

  & a:hover {
    color: #ffc107;
    text-decoration: none
  }
}
