//overrides
$black: #212121;
$gray-lighter: #999999;

a {
  color: $gray-lighter;

  &:hover,
  &:focus {
    color: $black;
  }
}

.docs-hero h1 {
  @media screen and (min-width: 992px) {
    text-align: center;
  }
}

section {
  display: block;
  min-width: auto;
  padding: 0;
}
