@import '../../addon/styles/variables';

* {
  box-sizing: border-box;
}

body {
  background: url('images/background-shades.svg') center center no-repeat;
  background-size: cover;
}

div.intro {
  // background-color: rgba(227, 216, 214, 0.2);
  background-color: rgba(252, 249, 247, 0.6);
  border: 4px solid darken(#E3DBDA, 10%);
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 1em;
  max-width: 90%;
  padding-bottom: 2em;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    margin: 0 auto;
    width: 70%;
  }

  .es-button {
    margin: 0 auto;
  }

  pre {
    // background-color: #E3DBDA;
    margin: 1em auto;
    padding: 1em;
    text-align: left;
    width: 350px;
  }
}

footer {
  font-size: 0.8em;
  padding: 2em 1em;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $white;
      }
    }
  }
}
