@import "color-pallet";

.self-executing-code-block {
  margin-bottom: 2rem;
}

@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

.border-dashed {
  border: 1px dashed var(--color-gray);
}