@import "color-pallet";

/* resetting back to common margins for headers */
.field-guide-wrapper > main > h1,
.field-guide-wrapper > main > h2,
.field-guide-wrapper > main > h3,
.field-guide-wrapper > main > h4,
.field-guide-wrapper > main > h5,
.field-guide-wrapper > main > h6 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
