div.color-pallet {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-muted);
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: var(--spacing-2);
}

.color-pallet__example {
  padding: var(--spacing-1);
}

.color-pallet__example-text-row {
  display: grid;
  grid-template-rows: 65px 30px;
  text-align: center;
  padding: var(--spacing-1);
}

.color-pallet__example-text {
  order: 0;
  height: 65px;
  line-height: 65px;
}

.color-pallet__example-text span {
  line-height: 65px;
}

.color-pallet__example-text-result {
  order: 1;
}

.color-pallet__example-text-result span {
  font-family: monospace;
  font-size: var(--text-preset-1);
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 4px;
  line-height: var(--text-preset-2);
  display: inline-block;
  padding: 0 var(--spacing-1);
}

.color-pallet__details {
  flex-grow: 1;
  min-height: 250px;
  background-color: var(--color-muted);
  padding: 0 1.5rem;
}

.color-pallet__details-title {
  color: var(--color-gray);
  text-transform: uppercase;
  font-size: .9rem;
}

dd {
  margin: 0;
}
