<div class="cta" ...attributes>
  <div class="cta-note">
    <div class="cta-note-body">
      <div class="cta-note-heading" data-test-es-note-heading>{{this.mascot.name}} says...</div>
      <div class="cta-note-message">{{yield}}</div>
    </div>
    <img src={{this.mascot.image}} role="presentation" alt="">
  </div>
</div>