<div class="pagination-wrapper">
  {{#if (and (has-block "previous") @showPrevious)}}
    <div class="previous-wrapper">
      <img alt="left arrow" src="/images/icons/arrow-icon.svg" />
      <div>{{yield to='previous'}}</div>
    </div>
  {{/if}}

  {{#if (and (has-block "next") @showNext)}}
    <div class="next-wrapper">
      <div>{{yield to='next'}}</div>
      <img alt="right arrow" src="/images/icons/arrow-icon.svg" />
    </div>
  {{/if}}
</div>
