<div class="es-brand">
  <a class="navbar-brand" href={{navHome}}>
    <img src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/images/ember-logo.svg"
      alt="home">
  </a>
</div>