//breakpoints (1 of 3)
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
//colors (2 of 3)
$primary: #E34C32;
$primary-light: lighten($primary, 30%);
$primary-dark: #EF4326;
$secondary: #4A4A4A;
$secondary-light: #969696;
$secondary-dark: #303030;
$blue: #1e719b;
$black: #212121; //never pure black
$white: #fdfdfd; //never pure white
$success: green; //come back to these state colors and put proper colors in here
$info: cornflowerblue;
$warning: goldenrod;
$danger: red;
$orange: #e04e39;
$orange-darker: darken($orange, 10);
$orange-darkest: darken($orange, 20);
$orange-lighter: lighten($orange, 10);
$orange-lightest: lighten($orange, 40);
$gray: #4d4d4d;
$gray-lighter: #999999;
$gray-lightest: #eeeeee;
$gray-darker: darken($gray, 10%);
$gray-darkest: darken($gray, 15%);
//font things (3 of 3)
$font-size: 16px;
$line-height: 1.2;
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows & Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

  //standardizing some stuff
  $border-radius: 4px;
  