<li class="card" ...attributes>
  {{#if @image}}
    <img class="card__image" src={{@image}} alt={{if @alt @alt ""}} role={{unless @alt "presentation"}}>
  {{/if}}
  <div class="card-content">
    {{yield}}
  </div>
</li>