{{ yield }}

<div class="footer responsive">
  <div class="container">
    <div class="footer-info">
      Copyright {{currentYear}}
      <a href="http://tilde.io">Tilde Inc.</a>
      <br>
      <a href="/team">Team</a> |
      <a href="/sponsors">Sponsors</a>
      <br>
      <a href="/security">Security</a> |
      <a href="/legal">Legal</a> |
      <a href="/logos">Logos</a>
      <br>
      <a href="/guidelines">Community Guidelines</a>
    </div>

    <div class="footer-statement">
      <p class="footer-tagline">Ember.js is free, open source and always will be.</p>

      <div class="footer-social">
        <a href="http://twitter.com/emberjs" title="Twitter">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            id="svg4169"
            viewBox="0 0 1000 1000">
            <defs
              id="defs4171" />
            <metadata
              id="metadata4174">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                  <dc:title></dc:title>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              id="layer1">
              <path
                id="path4717"
                d="m 939.5,227.94118 q -37,54 -90,93 0,8 0,23 0,73 -21,145 -21,72 -64,139 -43,67 -103,117 -60,50 -144,82 -84,32 -181,30 -151,0 -276,-81 19,2 43,2 126,0 224,-77 -59,-1 -105,-36 -46,-35 -64,-89 19,3 34,3 24,0 48,-6 -63,-13 -104,-62 -41,-49 -41,-115 l 0,-2 q 38,21 82,23 -37,-25 -59,-64 -22,-39 -22,-86 0,-49 25,-91 68,83 164,133 96,50 208,55 -5,-21 -5,-41 0,-75 53,-127 53,-52 127,-53 79,0 132,57 61,-12 115,-44 -21,64 -80,100 52,-6 104,-28 z" />
            </g>
          </svg>
        </a>
        <a href="https://github.com/emberjs/ember.js" title="GitHub">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            id="svg4169"
            viewBox="0 0 1000 1000">
            <defs
              id="defs4171" />
            <metadata
              id="metadata4174">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                  <dc:title></dc:title>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              id="layer1">
              <path
                id="path4717"
                d="m 392,643 q 0,22 -7,45 -7,23 -24,43 -17,20 -40,19 -23,-1 -41,-19 -18,-18 -24,-43 -6,-25 -7,-45 -1,-20 7,-46 8,-26 24,-43 16,-17 41,-19 25,-2 40,19 15,21 24,43 9,22 7,46 z m 357,0 q 0,22 -7,45 -7,23 -24,43 -17,20 -40,19 -23,-1 -41,-19 -18,-18 -24,-43 -6,-25 -7,-45 -1,-20 7,-46 8,-26 24,-43 16,-17 41,-19 25,-2 40,19 15,21 24,43 9,22 7,46 z m 90,0 q 0,-67 -39,-114 -39,-47 -104,-47 -23,0 -109,12 -40,6 -88,6 -48,0 -87,-6 -85,-12 -109,-12 -66,0 -104,47 -38,47 -39,114 0,49 18,85 18,36 45,58 27,22 68,33 41,11 78,17 37,6 83,4 l 94,0 q 46,0 83,-4 37,-4 78,-17 41,-13 69,-33 28,-20 45,-58 17,-38 18,-85 z m 125,-99 q 0,116 -34,185 -22,43 -59,74 -37,31 -79,48 -42,17 -95,27 -53,10 -96,12 -43,2 -93,3 -43,0 -79,-2 -36,-2 -82,-7 -46,-5 -85,-17 Q 223,855 185,838 147,821 118,793 89,765 70,729 35,660 35,544 35,412 111,323 96,278 96,228 q 0,-64 28,-121 61,0 106,22 45,22 106,69 82,-20 172,-20 83,0 157,18 58,-46 104,-67 46,-21 105,-22 29,57 29,121 0,49 -15,94 76,89 76,222 z" />
            </g>
          </svg>
        </a>
        <a href="https://plus.google.com/communities/106387049790387471205" title="Google+">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            id="svg4169"
            viewBox="0 0 1500 1000">
            <defs
              id="defs4171" />
            <metadata
              id="metadata4174">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                  <dc:title></dc:title>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              id="layer1">
              <path
                id="path4717"
                d="m 909,508.99057 q 0,117 -49,207 -49,90 -138,142 -89,52 -206,51 -83,0 -159,-32 -76,-32 -131,-87 -55,-55 -87,-131 -32,-76 -32,-159 0,-83 32,-159 32,-76 87,-131 55,-55 131,-87 76,-32.000003 159,-32.000003 160,0 274,107.000003 l -111,107 q -65,-63 -163,-63 -69,0 -127,34 -58,34 -92,94 -34,60 -34,130 0,70 34,130 34,60 92,94 58,34 127,34 46,0 85,-13 39,-13 64,-32 25,-19 44,-43 19,-24 27,-47 8,-23 12,-41 l -232,0 0,-141 386,0 q 7,36 7,68 z m 484,-68 0,118 -117,0 0,116 -117,0 0,-116 -117,0 0,-118 117,0 0,-116 117,0 0,116 117,0 z" />
            </g>
          </svg>
        </a>
      </div>
    </div>

    <div class="footer-contributions">
      <div class="contributor">
        <p>Hosted by:</p>
        <a href="https://www.heroku.com/emberjs">{{svg-jar "heroku-logo" class="logo-heroku" alt="heroku logo"}}</a>
      </div>
      <div class="contributor">
        <p>CDN provided by:</p>
        <a href="https://www.fastly.com">{{svg-jar "fastly-logo" class="logo-fastly" alt="fastly logo"}}</a>
      </div>
    </div>

  </div>
</div>