<div class="footer-statement">
  <p class="footer-copyright container py-1">
    &copy; Copyright {{this.currentYear}} - <a href="https://www.tilde.io/" class="footer-copyright">Tilde Inc.</a>
    <br>
    {{@tagline}}
  </p>
  <a href="https://github.com/ember-learn/ember-website">Contribute to this page ?</a>
</div>