<div class="footer-help">
  <p class="container py-1">

If you want help you can contact us by <a href = "mailto:help@emberjs.com<?subject = Help">email</a>, 
open an <a href="https://github.com/ember-learn/{{@website}}/issues/new?assignees=&template=general_issue.md&body=camefrom={{@website}}"> issue</a>, 
or  get realtime help by joining the <a href="https://discord.gg/emberjs">Ember Discord</a>.

  </p>
</div>