<div class="container"> 
    {{#if hasAside}}
    <div class="row">
        {{#es-aside}}
        {{!--//aside content--}}
        {{/es-aside}}
        <div class="col-xs-12 col-md-8 col-lg-9">
            {{yield}}
        </div>
    </div>
    {{else}}
        {{yield}}
    {{/if}}
</div>