<div class="cta-note" ...attributes>
  <div class="cta-note-content">
    <div class="cta-note-body p-2">
      <div class="text-lg mb-1 hide-in-percy">{{this.mascot.name}} says...</div>
      <div class="cta-note-message">
        {{yield}}
      </div>
    </div>
    <img src={{this.mascot.image}} role="presentation" alt="" class="hide-in-percy cta-mascot m-2">
  </div>
</div>