<nav class="es-navbar">
  <button class="navbar-toggler ember-view" onclick={{action this.toggleMenu}} aria-label="Site Navigation" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-list">
    {{#each navLinks as |link index|}}
      {{es-navbar/link link=link index=index}}
    {{/each}}
  </ul>

</nav>
