<div class="es-page-header bg-shape-boxes-bottom" ...attributes>
  <div class="container">
    <h1 class="text-hero-xl">{{@headline}}</h1>

    <p class="text-hero-base {{if hasBlock "mb-2"}}">{{@detail}}</p>

    {{yield}}
  </div>
</div>
