<div class="es-page-header" ...attributes>
  <div class="container">
    <h1 class="large">{{@headline}}</h1>

    <p class="{{if hasBlock 'margin-bottom-small'}}">{{@detail}}</p>

    {{yield}}
  </div>
</div>
