<div class="es-page-header bg-shape-boxes-bottom" ...attributes>
  <div class="container">
    <h1 class="display-1">{{@headline}}</h1>

    <p class="display-2 {{if hasBlock "mb-2"}}">{{@detail}}</p>

    {{yield}}
  </div>
</div>
