/* stylelint-disable import-notation, media-feature-range-notation, prettier/prettier */
@import './unstyled.css';
@import './embed.css';
@import './flex.css';
@import './margin.css';
@import './padding.css';
@import './rounded.css';

.img-fluid {
  width: 100%;
}

.max-width {
  max-width: 100%;
}

@media (max-width: 1007px) {
  .hide-on-mobile {
    display: none !important;
  }
}
