{{#es-pagewrapper}}
  {{#es-header}}
    {{es-navbar}}
  {{/es-header}}
  {{#es-main}}
    {{outlet}}
  {{/es-main}}
  {{#es-footer}}
    <div class="col">
      <ul role="menu">
        <li role="none">Copyright 2017 <a role="menuitem" href="http://tilde.io/">Tilde Inc.</a></li>
        <li role="none"><a role="menuitem" href="/team">Team</a></li>
        <li role="separator" class="separator">|</li>
        <li role="none"><a role="menuitem" href="/sponsors">Sponsors</a></li>
        <li role="separator" class="separator">|</li>
        <li role="none"><a role="menuitem" href="/security">Security</a></li>
        <li role="separator" class="separator">|</li>
        <li role="none"><a role="menuitem" href="/legal">Legal</a></li>
        <li role="separator" class="separator">|</li>
        <li role="none"><a role="menuitem" href="/logos">Logos</a></li>
        <li role="separator" class="separator">|</li>
        <li role="none"><a role="menuitem" href="/community/guidelines">Community Guidelines</a></li>
      </ul>
    </div>
    <div class="col">
      <p>Ember.js is free, open source, and always will be</p>
      <ul class="list-inline">
        <li><a href="http://twitter.com/emberjs"><img src="" alt="ember on twitter"/></a></li>
        <li><a href="https://github.com/emberjs/ember.js"><img src="" alt="ember on github"/></a></li>
        <li><a href="https://plus.google.com/communities/106387049790387471205"><img src="" alt="ember on google plus"/></a>
        </li>
      </ul>
    </div>
    <div class="col">
      <p class="p-inline">
        Hosted by:
        <img src="" alt="Heroku"/>
      </p>
      <p class="p-inline">
        CDN provided by:
        <img src="" alt="fastly"/>
      </p>
    </div>
  {{/es-footer}}
{{/es-pagewrapper}}