{{#es-header}}
    {{!--navbar goes in header--}}
{{/es-header}}
{{#es-main}}
    {{es-heading headingText="Page Title"}}
    
    {{outlet}}
{{/es-main}}
{{#es-footer}}
    <div class="row">
        <div class="col-xs-12">
            <p>&copy; Copyright information here</p>
        </div>
    </div>
{{/es-footer}}