<EsHeader class="dark">
  <EsNavbar @home="/">
  </EsNavbar>
</EsHeader>

<aside>
  <ul class="styleguide-menu">
    <li>
      Guides
      <ul>
        <li>
          {{#link-to 'show' 'index'}} Working with ember-styleguide {{/link-to}}
        </li>
      </ul>
    </li>
    <li>
      Foundations
      <ul>
        <li>
          {{#link-to 'show' 'concepts/colours'}} Colours {{/link-to}}
        </li>
        <li>
          {{#link-to 'show' 'concepts/layout'}} Layout {{/link-to}}
        </li>
        <li>
          {{#link-to 'show' 'concepts/typeography'}} Typeography {{/link-to}}
        </li>
      </ul>
    </li>
    <li>
      Components
      <ul>
        {{#each components as |componentName|}}
          <li>
            {{#link-to 'show' (concat 'components/demo-' componentName)}} {{componentName}} {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </li>
    <li>
      CSS
      <ul>
        <li>
          {{#link-to 'show' 'css/overview'}} Overview {{/link-to}}
        </li>
        <li>
          {{#link-to 'show' 'css/helpers'}} Helpers {{/link-to}}
        </li>
      </ul>
    </li>
  </ul>
</aside>

<main>
  {{outlet}}
</main>
