<div class="docs-hero">
  {{docs-hero
    logo="ember"
    slimHeading="Ember"
    strongHeading="Styleguide"
    byline="A styleguide & component UI addon for the Ember.js family of websites."
  }}
</div>

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-pb-8">
    <h2 class="flex items-center docs-h2"> Motivation </h2>

    <p>This addon is intended to be the guide for the ember-styleguide and glimmer-styleguide components. Feedback is welcome in the team-learning channel of the <a href="https://discordapp.com/invite/zT3asNS" target="_blank">Ember Community Discord chat</a>.</p>

    <h2 class="flex items-center docs-h2">Installation</h2>

    <pre class="docs-md__code">
      <code class="undefinedsh">ember install ember-styleguide</code>
    </pre>
  </section>
</div>
