<EsPageHeader
  @headline="A framework for ambitious web developers"
  @detail="Ember.js is a productive, battle-tested JavaScript framework for building modern web applications. It includes everything you need to build rich UIs that work on any device."
  class="dark"
>
  <EsButton>Go</EsButton>
</EsPageHeader>

<section class="content-section muted center">
  <div class="container">
    <h2 class="large">Build with the teams that never stop shipping.</h2>
    <p>Some of the best development teams in the world have been iterating on their products for years with Ember. With scalable UI architecture baked-in from the start, you’ll be working with the same patterns these organizations use every step of the way.</p>
    <p class="bold">It’s time to start building from the 20th floor.</p>
  </div>
</section>

<section class="content-section muted">
  <div class="container">
    <h3 class="small bold">A Simple Component</h3>
    <p>Ember Components are a superset of HTML – that means <span class="bold">&lt;p&gt;Hello, world&lt;/p&gt;</span> is a full-fledged Ember Component! To pass data into Components, use the @ symbol along with an argument name.</p>
    <div class="card">
      <div class="card-content">
        <h3 class="small bold">Discussion Forum</h3>
        <p>Post and search longer-form questions in our public forum.</p>
      </div>
    </div>
  </div>
</section>

<section class="content-section dark center">
  <div class="container">
    <h2 class="large">Batteries are included</h2>
    <p>Ember’s out-of-the-box experience has everything you need to start building on day one, and keep shipping for years. Never wire together your own framework again.</p>

    <EsTabs as |Tab|>
      <Tab @title="Build Pipeline">
        Ember CLI is the backbone of modern Ember apps. Code generators let you quickly create new components and tests. Use the local server for a development environment with Babel, fast rebuilds, auto-reloading and a test runner. Build your app for production with a single command.
      </Tab>
      <Tab @title="Routing">
        I love me some routing
      </Tab>
      <Tab @title="Data Layer">
        Let's get our data on 😎
      </Tab>
    </EsTabs>

    <div class="card">
      <div class="card-content">
        <h3 class="small bold">Discussion Forum</h3>
        <p>Post and search longer-form questions in our public forum.</p>
      </div>
    </div>
    <p class="medium">Ember CLI is the backbone of modern Ember apps. Code generators let you quickly create new components and tests. Use the local server for a development environment with Babel, fast rebuilds, auto-reloading and a test runner. Build your app for production with a single command.</p>
  </div>
</section>
