{{!--{{outlet}}--}}

<section>
    <h1>A framework for creating ambitious applications</h1>
    {{#es-card}}
        <div class="card-heading">
            <h2 class="card-title">Get Started</h2>
        </div>
        <div class="card-body">
            <p>Build your first Ember application with our 5 minute tutorial.
            <a href="/learn/quickstart" class="btn btn-primary">View quick start guide</a>
            </p>
        </div>
        <div class="card-footer">
        </div>
    {{/es-card}}
</section>
<section>
    {{es-heading  headingText="More Productive out of the box" tagName="h2"}}
    <ul>
        <li><img src="" alt="" role="presentation" />
        Write dramatically less code with Ember's Handlebars integrated templates that update automatically when the underlying data changes.
        </li>
        <li><img src="" alt="" role="presentation" />
        Don't waste time making trivial choices. Ember.js incorporates common idioms so you can focus on what makes your app special, not reinventing the wheel.
        </li>
        <li><img src="" alt="" role="presentation" />
        Ember.js is built for productivity. Designed with developer ergonomics in mind, its friendly APIs help you get your job done—fast.
        </li>
    </ul>
</section>
<section>
    <h2>Who is using Ember.js?</h2>
    <ul>
        <li>users</li>
        <li>users</li>
        <li>users</li>
    </ul>
    <a href="/ember-users" class="btn btn-primary">Meet more users</a>
</section>
<section>
    <h2>Buy Ember.js gear and support development</h2>
    <ul>
        <li><a href=""><img src="" alt="buy ember stickers" /></a></li>
        <li><a href=""><img src="" alt="buy ember tshirts" /></a></li>
        <li><a href=""><img src="" alt="buy ember mascot stickers" /></a></li>
        <li><a href=""><img src="" alt="buy ember mascot stuffies" /></a></li>
    </ul>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QRRZTQ5GM7PSY" class="btn btn-primary">Donate to the project</a>
</section>
<section>
</section>

