name: CI

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:

env:
  NODE_VERSION: 10

jobs:
  test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mansona/npm-lockfile-version@v1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@7
      - run: npm ci
      - run: npm run lint:hbs
      - run: npm run lint:js
      - run: npm run test


  test-addon-floating:
    name: Test addon (floating dependencies)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@7
      - run: npm install --no-package-lock
      - run: npm run test

  test-compatibility:
    name: Test compatibility
    runs-on: ubuntu-latest
    needs: test
    strategy:
      matrix:
        scenario:
          - 'ember-lts-3.4'
          - 'ember-lts-3.8'
          - 'ember-release'
          - 'ember-beta'
          - 'ember-canary'
          - 'ember-default-with-jquery'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@7
      - run: npm ci
      - name: Test
        run: npx ember try:one $EMBER_TRY_SCENARIO ${{ matrix.scenario }}
